   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            height: 100vh;
            width: 100%;
            background: #0929de;
            background: -webkit-linear-gradient(to right, #8ab817, #3b0da5);
            background: linear-gradient(to bottom, #2791e2 0%, #bd1313 100%);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
        }

        .container {
            width: 390px;
            max-height: 500px;
            background: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
        }

        button {
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
        }

        header {
            font-size: 25px;
            margin-bottom: 5px;
            font-weight: 600;
            color: black;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }

        .input {
            display: flex;
            width: 100%;
            height: 40px;
        }

        .input input {
            width: 85%;
            height: 100%;
            border: 1px solid #ccc;
            margin-right: 4px;
            padding: 0 10px;
            outline: none;
            border-radius: 5px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        }

        .input input:focus {
            border: 0.7px solid #1A2980;
        }

        .input button {
            width: 14%;
            font-size: 20px;
            outline: none;
            border: none;
            color: white;
            border-radius: 5px;
            background: linear-gradient(to top, rgb(1, 162, 1), rgb(1, 162, 1));
            opacity: 0.6;
            pointer-events: none;
        }

        .input button.active {
            opacity: 1;
            pointer-events: all;
        }

        .input button:hover,
        .footer button:hover {
            background: linear-gradient(to bottom, #B66BA6 0%, #7A64AC 100%);
        }

        .container .todoList {
            height: fit-content;
            max-height: 300px;
            margin: 10px 0;
            overflow-y: auto;
            line-break: strict;
            word-break: break-all;
            /* text-overflow: clip; */
        }

        .todoList li {
            list-style: none;
            height: auto;
            max-height: max-content;
            line-height: 40px;
            background-color: #f2f2f2;
            padding: 0 8px;
            margin: 8px 0;
            position: relative;
            border-radius: 8px;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
        }

        .todoList li span {
            position: absolute;
            margin-left: 10px;
            top: 0px;
            right: 10px;
            color: rgb(255, 0, 0);
            background-color: #f2f2f2;
            padding: 0 6px;
        }

        .todoList li .done {
            top: 0;
            right: 35px;
            color: red;
        }

        .todoList li:hover {
            background-color: #ccc;
        }

        .todoList li:hover span {
            background-color: #ccc;
            cursor: pointer;
        }

        .footer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .footer button {
            padding: 8px 15px;
            border-radius: 5px;
            border: none;
            background: linear-gradient(to top, red, red);
            color: white;
            opacity: 0.6;
            pointer-events: none;
        }

        .footer button.active {
            opacity: 1;
            pointer-events: all;
        }

        strike {
            text-decoration-thickness: 3px;
            text-decoration-color: rgb(160, 180, 129);
        }

        @media (max-height:520px) {
            .container {
                max-height: 450px;
            }
            .container .todoList {
                max-height: 300px;
            }
        }
